<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import yfinance as yf
import time
import pandas as pd

In [8]:
tickers = ['^FTSE', '^GSPC']
t0 = time.time()
start = pd.to_datetime('20060101',format='%Y%m%d')
end = pd.to_datetime('20230429',format='%Y%m%d')
days = (end-start).days
print('total days: ', days)

# create empty dataframe
price_stocks_df = pd.DataFrame()
delisted_stock = []

# iterate over each symbol
for i in tickers:
    # print( str(top50_firms.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)
    try:
        stock = []
        stock = yf.download(i, start=start, end=end, progress=False)
        if len(stock)==0:
            delisted_stock.append(i)
        else:
            stock['Name']=i
            price_stocks_df = price_stocks_df.append(stock,sort=False)
    except Exception:
        None
        
t1 = time.time()
total = t1-t0
print('\ntotal time: ', total/60, ' minutes')

total days:  6327

/var/folders/hf/0mp7k_vd30z8kr8nkwwh037m0000gn/T/ipykernel_76561/1602028283.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  price_stocks_df = price_stocks_df.append(stock,sort=False)

total time:  0.008190584182739259  minutes

/var/folders/hf/0mp7k_vd30z8kr8nkwwh037m0000gn/T/ipykernel_76561/1602028283.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  price_stocks_df = price_stocks_df.append(stock,sort=False)

In [10]:
price_stocks_df.to_csv('../data/1.0-indexes_price.csv')

In [17]:
price_stocks_df[(price_stocks_df['Name'] == '^FTSE') & (price_stocks_df.index >= '2006-04-12')]

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2006-04-12,6016.500000,6020.000000,5974.500000,6000.799805,6000.799805,1851945400,^FTSE
2006-04-13,6000.799805,6033.700195,5987.200195,6029.399902,6029.399902,1300431500,^FTSE
2006-04-18,6029.399902,6056.100098,6026.100098,6044.100098,6044.100098,1389246900,^FTSE
2006-04-19,6044.100098,6100.600098,6044.100098,6089.799805,6089.799805,1703340700,^FTSE
2006-04-20,6089.799805,6113.399902,6074.200195,6081.399902,6081.399902,2029861700,^FTSE
...,...,...,...,...,...,...,...
2023-04-24,7914.100098,7927.100098,7877.600098,7912.200195,7912.200195,724845900,^FTSE
2023-04-25,7912.200195,7912.500000,7863.899902,7891.100098,7891.100098,657900800,^FTSE
2023-04-26,7891.100098,7894.000000,7825.899902,7852.600098,7852.600098,902747300,^FTSE
2023-04-27,7852.600098,7865.700195,7816.799805,7831.600098,7831.600098,669734300,^FTSE
2023-04-28,7831.600098,7870.600098,7791.600098,7870.600098,7870.600098,945273500,^FTSE

In [11]:
price_stocks_df.tail()

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000,^GSPC
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000,^GSPC
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000,^GSPC
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000,^GSPC
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000,^GSPC