<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#M1" data-toc-modified-id="M1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>M1</a></span><ul class="toc-item"><li><span><a href="#LSTM-m3" data-toc-modified-id="LSTM-m3-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>LSTM-m3</a></span></li><li><span><a href="#m3-with-ARCH-11" data-toc-modified-id="m3-with-ARCH-11-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>m3 with ARCH 11</a></span></li><li><span><a href="#m3-with-ARCH-11-per-Sector" data-toc-modified-id="m3-with-ARCH-11-per-Sector-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>m3 with ARCH 11 per Sector</a></span></li><li><span><a href="#m3-with-ARCH-11-ALL-but-with-previous-datasets" data-toc-modified-id="m3-with-ARCH-11-ALL-but-with-previous-datasets-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>m3 with ARCH 11 ALL but with previous datasets</a></span></li><li><span><a href="#m3-with-ARCH-11-ALL-but-with-previous-datasets-+-Train-(.7)" data-toc-modified-id="m3-with-ARCH-11-ALL-but-with-previous-datasets-+-Train-(.7)-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>m3 with ARCH 11 ALL but with previous datasets + Train (.7)</a></span></li></ul></li><li><span><a href="#LSTM-m1-exp1" data-toc-modified-id="LSTM-m1-exp1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>LSTM-m1-exp1</a></span></li><li><span><a href="#Final-Calculation-from-Final-Settings" data-toc-modified-id="Final-Calculation-from-Final-Settings-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Final Calculation from Final Settings</a></span><ul class="toc-item"><li><span><a href="#M1" data-toc-modified-id="M1-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>M1</a></span></li><li><span><a href="#M2" data-toc-modified-id="M2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>M2</a></span></li><li><span><a href="#M3" data-toc-modified-id="M3-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>M3</a></span></li></ul></li><li><span><a href="#experiment-6-with-lag-daily,-weekly,-and-monthly" data-toc-modified-id="experiment-6-with-lag-daily,-weekly,-and-monthly-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>experiment 6 with lag daily, weekly, and monthly</a></span></li><li><span><a href="#Final-Dataset-Fixed-with-lag-daily-weekly-and-monthly" data-toc-modified-id="Final-Dataset-Fixed-with-lag-daily-weekly-and-monthly-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Final Dataset Fixed with lag daily weekly and monthly</a></span><ul class="toc-item"><li><span><a href="#Experiment-1" data-toc-modified-id="Experiment-1-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Experiment 1</a></span></li></ul></li></ul></div>

In [12]:
sectors_df

                  sectors num_firms
0         Basic materials         7
1      Consumer cyclicals        12
2  Consumer non-cyclicals        11
3                  Energy         2
4              Financials        16
5              Healthcare         3
6             Industrials        10
7             Real estate         3
8              Technology         3
9               Utilities         5

In [1]:
import sys, os
import pandas as pd
import numpy as np
import glob

sys.path.append('../python')
pd.set_option('display.max_columns', 100)

from dataprocessingnew import *
from runmodels import *

# M1

## LSTM-m3

In [4]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-2/LSTM-m3-*.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.4217952266666668

## m3 with ARCH 11

In [7]:
master_df = pd.read_csv('../results/LSTM-m3-All-71.csv')
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.10250733611111112

## m3 with ARCH 11 per Sector

In [14]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/change11-sector-notgood/LSTM-m3-*.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.2613161569444444

## m3 with ARCH 11 ALL but with previous datasets

## m3 with ARCH 11 ALL but with previous datasets + Train (.7)

In [19]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-*.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.23398892891566267

# LSTM-m1-exp1

In [ ]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-2/LSTM-m1-Basic*.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

---

# Final Calculation from Final Settings

## M1

In [24]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m1-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.18563794999999997

## M2

In [23]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m2-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.1712311488095238

## M3

In [22]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.17212409166666667

In [25]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.16353720476190475

In [26]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.16065332857142858

In [27]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/experiment-4/LSTM-m3-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.16509298571428574

In [38]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/experiment-5/LSTM-m3-All-83.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.15962615238095237

In [31]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.25610320588235286

In [36]:
np.mean(master_df['MSE'])*10**3

0.25610320588235297

---

# experiment 6 with lag daily, weekly, and monthly

In [40]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m1-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.0071688824836282136

In [41]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.007238121840065716

In [43]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m2-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.008606824533048183

---

# Final Dataset Fixed with lag daily weekly and monthly

In [44]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m1-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.16168725946924908

In [46]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m2-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.1654581139106691

In [45]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/LSTM-m3-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.1724561613998508

## Experiment 1

In [56]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/experiment-2-4/LSTM-m1-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.15662250909364167

In [57]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/experiment-2-4/LSTM-m2-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.1597646247737662

In [58]:
# Get a list of all csv files that start with "LSTM-m1-"
csv_files = glob.glob("../results/lstm-arch-1/experiment-2-4/LSTM-m3-All-84.csv")

master_df = pd.DataFrame()

# Print the list of csv files
for file in csv_files:
    temp_df = pd.read_csv(file)
    master_df = pd.concat([master_df, temp_df])
    
master_df['MSE^3'] = master_df['MSE'] * 10**3
np.mean(master_df['MSE^3'])

0.16824463493634687